/*

	Mark Henry
	ASD 1311
	personal code-template

*/


#photos .ui-grid .ui-bar-c{
	margin: 2px 3px;
	padding: 0em 0em;
	text-align: center;
}

.ccl {
	color: #ff9933;
	font-size: 10px;
	text-shadow: -1px 0px #000000;
	padding: 1em;
}

.rqd {
    color: #FF0000;
    text-shadow: 0px 1px #000000;
    font-size: 0.8em;
    padding: 1em;
}

.ReqI {
	padding: 0.5em;
	text-shadow: 0px 1px #000000;
}

.label{
	color: #ff9933;
	text-shadow: -1px 0px #666666;
	padding: 0.5em;
}

.brw {
	color: #000000;
	text-shadow: -1px 0px #666666;
}

.back{
	background-color: #000000;
	background:url(bassBack.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
}

.head {
	color: #cccccc;
	text-shadow: -1px 1px #000000;
	padding: 7em;
}

.ui-page.ui-body-c{
    background: url(../images/bassBack.jpg);
    background-position: center;
    background-color: #000000;
    background-repeat: no-repeat;
}

#about .ui-content {
	color: #ff9933;
	text-shadow: -1px 0px #000000;
	padding: 1em;
}

#about .ui-li-desc {
	color: #ff9933;
	text-shadow: -1px 0px #000000;
	padding: 12px;
	line-height: 0.5em;
}

#videos .ui-content {
	color: #ff9933;
	text-shadow: -1px 0px #000000;
	padding: 1em;
}

.ui-title {
	color: #cccccc;
	text-shadow: -1px 1px #000000;
}

.error {
	color:#cc0000;
	text-shadow: -1px 1px #000000;
}

#addGuitarerrorslink {
	display: none;
}

#addGuitarerrors .ui-title {
	color: #cc0000;
	font-size: 1em;
	text-shadow: -1px 1px #000000;
}