/*

	Mark Henry
	ASD 1311
	personal code-template

*/

.display {
	background: url(../images/blackground.pbm);
    background-position: center;
    background-color: #000000;
    background-repeat: repeat;
    color: #ff9933;
	font-size: 10px;
	text-shadow: -1px 0px #000000;
	
}

#photos .ui-grid .ui-bar-c{
	margin: 2px 3px;
	padding: 0em 0em;
	text-align: center;
}

.logo{
	margin: 0em 0.5em;
}

.ccl {
	color: #ff9933;
	font-size: 10px;
	text-shadow: -1px 0px #000000;
	padding: 1em;
}

.rqd {
    color: #FF0000;
    text-shadow: 0px 1px #000000;
    font-size: 0.8em;
    padding: 1em;
}

.ReqI {
	padding: 0.5em;
	text-shadow: 0px 1px #000000;
}

.label{
	color: #ff9933;
	text-shadow: -1px 0px #666666;
	padding: 0.5em;
}

.back {
	color: #ff9933;
	text-shadow: -1px 1px #000000;
}

.brw {
	color: #000000;
	text-shadow: -1px 0px #999999;
}

.divider {
	color: #ff9933;
	text-shadow: -1px 1px #000000;
	text-align: center;
}

.head {
	color: #ff9933;
	text-shadow: -1px 1px #000000;
	padding: 7em;
}

.ui-mobile-viewport {
	background: url(../images/blackground.pbm);
    background-position: center;
    background-color: #000000;
    background-repeat: repeat;
}

.ui-page.ui-body-c{
    background: url(../images/blackground.pbm);
    background-position: center;
    background-color: #000000;
    background-repeat: repeat;
}

#about .ui-content {
	color: #ff9933;
	text-shadow: -1px 0px #000000;
	padding: 1em;
}

#about .ui-li-desc {
	color: #ff9933;
	text-shadow: -1px 0px #000000;
	padding: 12px;
	line-height: 0.5em;
}

#videos .ui-content {
	color: #ff9933;
	text-shadow: -1px 0px #000000;
	padding: 1em;
}

.videos {
	padding: 5px 5px;
}

.ui-title {
	color: #ff9933;
	text-shadow: -1px 1px #000000;
}

.error {
	color:#cc0000;
	text-shadow: -1px 1px #000000;
}

#addGuitarerrorslink {
	display: none;
}

#addGuitarerrors .ui-title {
	color: #cc0000;
	font-size: 1em;
	text-shadow: -1px 1px #000000;
}

#editItem { 
	display: none; 
}

